.cv-content-profile__sumary {
    

    .pf-sumary__title {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-weight: bold;
    }

    .pf-sumary__block_description {
        text-indent: 20px;
        margin: 10px 0;
        .pf-sumary__description {
            line-height: 1.5rem;
            
        }
    }
}

.cv-content-profile__skill {
    .pf-skill__title {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-weight: bold;
        .pf-skill__hardskill {
        }
    }
}

.content-block_language{
    display: flex !important;

    .text-description {
       margin-top: 20px !important;
    }
}

@media only screen and (max-width: 1080px) {
    .content-block_language {
      flex-direction: column;
    }
    .img-description {
        text-align: center;
    }
}
