.cv-content-profile__sumary {
    

    .pf-sumary__title {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-weight: bold;
    }

    .pf-sumary__block_description {
        text-indent: 20px;
        margin: 10px 0;
        .pf-sumary__description {
            line-height: 1.5rem;
            
        }
    }
}