.image-gallery-thumbnail {
    border: unset;
}

.image-gallery-thumbnail.active {
    border: unset;
}

// .image_slider_container {
//     width: 80%;
// }

.image-gallery-image{
    // height: 50%;
    overflow: auto;
}