.cv-main-sidebar {
    // position: relative;
    padding: 10px;
    .cv-header-sidebar-wrapper {
        text-align: center;
    }

    padding: 10px 0px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.8)

   

}