.cv-main-sidebar {
    // position: relative;
    padding: 10px;
    font-weight: 450;
    .cv-header-sidebar-wrapper {
        text-align: center;
    }

    padding: 10px 0px;
    // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.8)

   .info-version {
       position: absolute;
       bottom: 12px;
       left: 12px;
    //    display: flex;
    //    flex-direction: row;
    //    justify-content: space-between;

       .title-info-text {
            font-size: 16px;
            font-weight: 700;
            color: green;
       }
   }

}


#myBtnLike {
    // display: none;
    position: absolute;
    bottom: 20px;
    right: 24px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    // border-radius: 4px;
}