.cv-main-layout {
    padding: 0px;

    .cv-header-wrapper {
        border: 1px;
        background-color: green;
        height: 200px;
        background-image: url("../../images/profile/image4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 20%;
        background-attachment: fixed;
        
    }
    .cv-sidebar-wrapper {
        border: 1px;
        background-color: #ffd079;
        height: 100%;


    }
    .cv-content-wrapper {
        border: 1px;
        background-color: #e4e3e3;
        height: 100%;
        padding: 20px;
    }
}

.ui.grid>.row {
    padding: 0px 0px !important;
    .column {
        // padding: 0 ;
        padding: 0px !important;
    }
}
