.cv-main-layout {
    padding: 0px;

    .cv-header-wrapper {
        border: 1px;
        // background-color: green;
        height: 225px;
        background-image: url("../../images/header/banner_v1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        // background-position: 20%;
        background-attachment: fixed;

        @media only screen and (max-width: 640px) {
            background-size: cover;
            background-position: center;

        }
        @media only screen and (max-width: 1244px) {
            background-size: cover;
            background-position: center;

        }
    }
    .cv-sidebar-wrapper {
        border: 1px;
        background-color: #d6d6d6;
        // background-color: #9c2a2a;
        height: 100%;


    }
    .cv-content-wrapper {
        border: 1px;
        background-color: #fafafa;
        // background-color: #cca1a1;
        height: 100%;
        padding: 20px;
    }
}

.ui.grid>.row {
    padding: 0px 0px !important;
    .column {
        // padding: 0 ;
        padding: 0px !important;
    }
}

.cv-open {
    display: flex;
}

.cv-close {
    display: none;
}

